body {
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#version {
    position: absolute;
    bottom: 0%;
    left: 50px;
    font-size: x-small;
    color: silver
}

.playbutton {
    position: absolute;
    top: 45%;
    left: 42%;
    width: 72px;
    height: 72px;
    z-index: 5;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.info {
    position: absolute;
    text-decoration: none;
    top: 0%;
    left: 0%;
    color: #666;
    font-weight: bold;
    display: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.info1 {
    position: absolute;
    bottom:0;
    width: 100%;
    text-align:center;
    font-weight: 700;
    font-size: medium;
    background-color: rgba(235, 235, 235, 0.8);
    padding: 5px 8px;
    border-radius: 0 0 0 0;
    z-index: 1;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

.switch {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(235, 235, 235, 0.8);
    padding: 5px 8px;
    border-radius: 10px 10px 0 0;
    z-index: 2;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.swItem {
    opacity: 0.3;
    padding: 0 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.swItem.current {
    opacity: 0.7
}

.swItem:hover {
    opacity: 0.9
}

.scrshot {
    position: absolute;
    bottom: 50%;
    right: 0%;
    width: 48px;
    height: 48px;
    z-index: 5;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.swichcamera {
    position: absolute;
    bottom: 0%;
    left: 4px;
    width: 40px;
    height: 40px;
    z-index: 5;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.playbutton {
    position: absolute;
    top: 45%;
    left: 42%;
    width: 72px;
    height: 72px;
    z-index: 5;

    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.ar-up {
    position: absolute;
    bottom: 38%;
    right: 2%;
    width: 30px;
    height: 30px;
    z-index: 6;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.ar-down {
    position: absolute;
    bottom: 30%;
    right: 2%;
    width: 30px;
    height: 30px;
    z-index: 7;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.ar-angle {
    position: absolute;
    opacity: 0.5;
    bottom: 38%;
    left: 4px;
    width: 30px;
    height: 30px;
    z-index: 6;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.ar-parallel {
    position: absolute;
    opacity: 0.5;
    bottom: 30%;
    left: 4px;
    width: 30px;
    height: 30px;
    z-index: 7;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.ar-angle.current {
    opacity: 1;
}

.ar-parallel.current {
    opacity: 1;
}

.loading {
    position: absolute;
    top: 45%;
    left: 42%;
    width: 72px;
    height: 72px;
    z-index: 5;
}

.arjs-loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .arjs-loader div {
        text-align: center;
        font-size: 1.25em;
        color: white;
    }

@-webkit-keyframes attention {
  0% {
    opacity: 0
  }
  10% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 0 #fff)
  }
  25% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 5px #fff);
    -webkit-transform: scale(1.1)
  }
  50% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0));
    -webkit-transform: scale(1)
  }
  51% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 0 #fff)
  }
  65% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 5px #fff);
    -webkit-transform: scale(1.1)
  }
  90% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0));
    -webkit-transform: scale(1)
  }
  100% {
    opacity: 0
  }
}

@keyframes attention {
  0% {
    opacity: 0
  }
  10% {
    opacity: 1;
    filter: drop-shadow(0 0 0 #fff)
  }
  25% {
    opacity: 1;
    filter: drop-shadow(0 0 5px #fff);
    transform: scale(1.1)
  }
  50% {
    opacity: 1;
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0));
    transform: scale(1)
  }
  51% {
    opacity: 1;
    filter: drop-shadow(0 0 0 #fff)
  }
  65% {
    opacity: 1;
    filter: drop-shadow(0 0 5px #fff);
    transform: scale(1.1)
  }
  90% {
    opacity: 1;
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0));
    transform: scale(1)
  }
  100% {
    opacity: 0
  }
}