body {
    font-family: sans-serif display: table-cell;
}

a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
}

.switch {
  position: fixed;
  top: 0;
  right: 10px;
  background-color: rgba(235, 235, 235, 0.8);
  padding: 5px 8px;
  border-radius: 0 0 10px 10px;
  z-index: 2
}

.swItem {
  opacity: 0.3;
  padding: 0 2px;
  cursor: pointer
}

.swItem.current {
  opacity: 0.7
}

.swItem:hover {
  opacity: 0.9
}

.info1 {
    position: fixed;
    bottom:0;
    width: 100%;
    text-align:center;
    font-weight: 700;
    font-size: medium;
    background-color: rgba(235, 235, 235, 0.8);
    padding: 5px 8px;
    border-radius: 0 0 10px 10px;
    z-index: 1
}

.scrshot {
    position: absolute;
    bottom:45%;
    right: 0;
    width: 48px;
    height: 48px;
    z-index: 5;
}

.toggleCamera {
    position: absolute;
    bottom:0;
    left: 0;
    width: 48px;
    height: 48px;
    z-index: 5;
}

.ar-video1 {
    z-index: 4;
}

@-webkit-keyframes attention {
    0% {
    opacity: 0
  }
  10% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 0 #fff)
  }
  25% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 5px #fff);
    -webkit-transform: scale(1.1)
  }
  50% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0));
    -webkit-transform: scale(1)
  }
  51% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 0 #fff)
  }
  65% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 5px #fff);
    -webkit-transform: scale(1.1)
  }
  90% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0));
    -webkit-transform: scale(1)
  }
  100% {
    opacity: 0
  }
}

@keyframes attention {
  0% {
    opacity: 0
  }
  10% {
    opacity: 1;
    filter: drop-shadow(0 0 0 #fff)
  }
  25% {
    opacity: 1;
    filter: drop-shadow(0 0 5px #fff);
    transform: scale(1.1)
  }
  50% {
    opacity: 1;
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0));
    transform: scale(1)
  }
  51% {
    opacity: 1;
    filter: drop-shadow(0 0 0 #fff)
  }
  65% {
    opacity: 1;
    filter: drop-shadow(0 0 5px #fff);
    transform: scale(1.1)
  }
  90% {
    opacity: 1;
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0));
    transform: scale(1)
  }
  100% {
    opacity: 0
  }
}