body {
    font-family: sans-serif display: table-cell;

    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

a {
    text-decoration: none;
    color: #666;
    font-weight: bold;

    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.info1 {
    position: fixed;
    bottom:0;
    width: 100%;
    text-align:center;
    font-weight: 700;
    font-size: medium;
    background-color: rgba(235, 235, 235, 0.8);
    padding: 5px 8px;
    border-radius: 10px 0 0 10px;
    z-index: 1
}

.playbutton {
    position: absolute;
    top: 45%;
    left: 42%;
    width: 72px;
    height: 72px;
    z-index: 5;

    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

@-webkit-keyframes attention {
    0% {
    opacity: 0
  }
  10% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 0 #fff)
  }
  25% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 5px #fff);
    -webkit-transform: scale(1.1)
  }
  50% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0));
    -webkit-transform: scale(1)
  }
  51% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 0 #fff)
  }
  65% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 5px #fff);
    -webkit-transform: scale(1.1)
  }
  90% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0));
    -webkit-transform: scale(1)
  }
  100% {
    opacity: 0
  }
}

@keyframes attention {
  0% {
    opacity: 0
  }
  10% {
    opacity: 1;
    filter: drop-shadow(0 0 0 #fff)
  }
  25% {
    opacity: 1;
    filter: drop-shadow(0 0 5px #fff);
    transform: scale(1.1)
  }
  50% {
    opacity: 1;
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0));
    transform: scale(1)
  }
  51% {
    opacity: 1;
    filter: drop-shadow(0 0 0 #fff)
  }
  65% {
    opacity: 1;
    filter: drop-shadow(0 0 5px #fff);
    transform: scale(1.1)
  }
  90% {
    opacity: 1;
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0));
    transform: scale(1)
  }
  100% {
    opacity: 0
  }
}